# QUESTION 1 (SOLUTION)

A database is a organised collection of data that can be accessed, manage and updated. It is used to store wide variety of informations.Databases are essential component of mordern information system and they are used in a wide range of applications, from e-commerce websites to inventory management systems to social media platforms.

There are two types of databases 
* SQL
* NoSQL (Not Only SQL)

Sql databases uses tables to store structured data whereas NoSQL used to store unstructured data. some of the sql databases are mysql, mssql, Postgress, Oracle database
For Nosql Mongodb is the most popular database used.

Sql is a relational database where various tables are related to each other whereas No sql databases are not relational

# QUESTION 2 (SOLUTION)

DDL stands for Data Defination Language is the portion of sql which drop,alter,create,truncate the database objects. These sql commands of DDL use to define the schema of the database, it simply deals with schema of the database.

CREATE is the keyword used to create a new databases or a Table
ex- 'CREATE DATABASE IF NOT EXIST new_database'

DROP is the keyword used to delete a existing database or Table
ex - 'DROP DATABASE new_database'

ALTER is the keyword used to make changes in the table of a database
ex - 'ALTER TABLE table_name ADD column_name datatype'

TRUNCATE is the keyword used to erase the data from the datebase or tabel
ex - 'TRUNCATE TABLE table_name'

# QUESTION 3 (SOLUTION)

DML stands for Data Manupulation Language is a portion of sql which update,delete,Insert delete database objects. It is basically used to modify the database

UPDATE is keyword used to update existing data of the table
ex-'UPDATE table_name'

DELETE is the keyword used to delete records from the database table
ex-'DELETE FROM table_name'

INSERT is keyword used to insert data into to table
ex-'INSERT INTO emps (emp_id , emp_name , emp_salary)'

# QUESTION 4 (SOLUTION)

DQL stands for Data Query Language is a portion of the sql which is used to perform queries on the data SELECT keyword is used to retrieve the data form the database
ex-'SELECT employee_id , last_name , salary'

# QUESTION 5 (SOLUTION)

PRIMARY KEY is assigned to that column of the table which dosen't contain repeated and null values.

FOREIGN KEY is assigned to that coloum to the table the plays a role of PRIMARY KEY in another table. The main use of foreign key is establish relation between tables

# QUESTION 6 (SOLUTION)

In [ ]:
import mysql.connector

a=mysql.connector.connect(
    host='localhost',
    user='abc',
    password='pasword'
)

mycursor=a.cursor()
mycursor.execute('CREATE DATABASE IF NOT EXISTS test_database')
a.close()

cursor is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQL database connection and SQL query. It is created after giving connection to SQL database.

execute method is used to send the query to the databse

# QUESTION 7 (SOLUTION)

1. From
2. where
3. group by
4. having
5. select
6. order by
7. limit