# Question - 1 (solution)

In [1]:
# we use "for loop" when we know starting and ending point of some iterable range and we know the 
# number of iterations.


# for example:
# let's consider a range of 10 numbers and we want to print all the numbers


for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
# we use "while loop" we aren't sure of how many iterations will take to match certain condition


# for example suppose we want to print all the digits of number given by user as an input
# since we are not sure of how many digit number user may input we also don't know how may 
# iteration we will have to make to print every single digit


num=int(input("enter a number: "))

while num>0:
    print(f"remaining = {num}")
    print(num%10)
    num=num//10

enter a number: 4327877658
remaining = 4327877658
8
remaining = 432787765
5
remaining = 43278776
6
remaining = 4327877
7
remaining = 432787
7
remaining = 43278
8
remaining = 4327
7
remaining = 432
2
remaining = 43
3
remaining = 4
4

# Question - 2 (solution)

In [27]:
i=1

Sum=0
Prod=1

while i<11:
    
    Sum=Sum+i
    Prod=Prod*i
    
    i=i+1
    

print(f"""
sum of first 10 natural numbers:  {Sum},
product of first 10 natural numbers: {Prod}""")

sum of first 10 natural numbers:  55,
product of first 10 natural numbers: 3628800

# Question - 3 (solution)

In [5]:

unit=int(input('enter the unit consumed per month: '))
amount=0

if unit>0 and unit<=100:
    amount=unit*4.5
elif unit>100 and unit<=200:
    amount=(100*4.5)+(unit-100)*6
elif unit>200 and unit<=300:
    amount=(100*4.5)+(100*6)+(unit-200)*10
elif unit>300:
    amount=(100*4.5)+(100*6)+(100*10)+(unit-300)*20
else:
    print("Invalid input")
    
print(f"Electircity bill to be paid: Rs.{amount}")

enter the unit consumed per month: 310
Electircity bill to be paid: Rs.2250.0

# Question - 4 (solution)

In [28]:
# solving the question using "for loop"

a=list(range(1,101))


b=[]
l=[]

for i in range(1,len(a)+1):
    
    l.append(i**3)
    
    if (i**3)%4==0 or (i**3)%5==0:
        b.append(i**3)
        

print(f"""
List of Cubes of numbers from 1 to 100:

{l}


List of cubes of numbers divisible by 4 and 5:


{b}""")

List of Cubes of numbers from 1 to 100:

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


List of cubes of numbers divisible by 4 and 5:


[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [30]:
# solving the question using while loop

a=list(range(1,101))


b=[]
l=[]

i=1

while i < (len(a)+1):
    
    l.append(i**3)
    
    if (i**3)%4==0 or (i**3)%5==0:
        b.append(i**3)
    i=i+1

        

print(f"""
List of Cubes of numbers from 1 to 100:

{l}


List of cubes of numbers divisible by 4 and 5:


{b}""")

List of Cubes of numbers from 1 to 100:

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


List of cubes of numbers divisible by 4 and 5:


[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Question - 5 (solution)

In [3]:
string="I want to become a data scientist"
lower_string=string.lower()
vowels=["a","e","i","o","u"]
count=0


for i in lower_string:
    if i in vowels:
        count=count+1
            
            
            

print(f"Total no. of vowels in given string: {count}")

Total no. of vowels in given string: 12